.tab-control {
  display: flex;
}

.tab-item {
  flex: 1;
  text-align: center;
}

.tab-control .tab-item.active {
  color: red;
}

.tab-control .tab-item.active span {
  padding-top: 4px;
  border-bottom: 3px solid red;
}